#about{
}
    
#services{
   
}
#testimonials{
    
}
#contact{
    
}

.navlink{
    color: blue;
}

.logo img{
    width: 15rem;
}

.card .diamond{
    width: 16rem;
}

.card .shield{
    height: 170.7px;
    width: auto;
}
        