#about{
}
    
#services{
   
}
#testimonials{
    
}
#contact{
    
}

.navlink{
    color: blue;
}

.logo img{
    width: 15rem;
}

.card .diamond{
    width: 16rem;
}

.card .shield{
    height: 170.7px;
    width: auto;
}

.line-height{
    line-height: 2rem;
}
        

.carousel-item{
    height: 20rem;
    background-color: #777;
}

.gallery-img{
    width: 15rem;
    height: 15rem;
}

.img-popup{
    width:28rem ;
}